/* Tablet */
@media (max-width: 750px) {
    body {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    h4 {
        font-size: 1rem;
        
    }

    /* Main index */
    .image-face {
        width: 15rem;
        height: 15rem; 
        margin-top: 6rem;
        padding-left: 1rem;
    }

    /* Main cv */
    .skills-text ul li {
        line-height: 2rem;
    }

    /* Header */
    header .navbar {
        padding: 0 2rem;
    }

    /* Burger-menu */
    .icon {
        display: block;
    }

    .navbar-links {
        position: absolute;
        top: 0;
        right: -100%;
        background: lightgrey;
        height: 45vh;
        width: 100%;
        max-width: 20rem;
        display: block;
        padding: 2rem 0;
        text-align: center;
        transition: all 0.3s ease;
    }

    .navbar-links.active {
        right: 0%;
    }

    .navbar-links li {
        margin-top: 5.5rem;
    }

    .navbar-links li a {
        font-size: 1rem;
        line-height: 0;
        transition: all 0.3s ease;
    }

    /* Footer */
    footer .footer-container {
        padding: 0 2rem;
    }

    .icons ul li .fab {
        font-size: 1.2rem;
        line-height: 2.3rem;
        color: darkblue;
    }

    .icons ul li a {
        height: 2.2rem;
        width: 2.2rem;
    }

    .copyright {
        font-size: .7rem;
    }
}