body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: museo-sans, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    font-style: normal;
    line-height: 1.6;
}

/* Header */
.navbar {
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    color: white;
    height: 8rem;
    padding: 0 6rem;
    
}

.title {
    font-size: 2rem;
    margin: .5rem;
    text-decoration: none;
}

.navbar-links ul {
    margin: 0;
    padding: 0;    
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 0 2rem;
    display: block;
}

/* Main */
.about-container {
    /*grid-template-columns: repeat(2, minmax(22rem, 1rem));*/
    justify-content: center;
    gap: 4rem;
}

.image-face {
    width: 20rem;
    height: 20rem; 
    margin-top: 6rem;
}

.about-me {
    margin-top: 5rem;
    width: 40rem;     
}

/*.button-container {
    grid-template-columns: 1fr;
}

.button {
    border: .2rem solid blue;
    background: none;
    color: blue;   
    padding: 1rem 1rem;
    text-decoration: none;

}

.button:hover {
    background-color: blue;
    color: white;
}


/* Reusable code */ 
.flex {
    display: flex;
}

.grid {
    display: grid;
}

h2 {
    font-size: 2.2rem;
    font-weight: 700;
    color:darkblue;
    margin-bottom: .1rem;
}

h4 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 0rem;
}



