body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: museo-sans, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    font-style: normal;
    line-height: 1.6;
    color: #303030;
}

/* Header */
.navbar {
    justify-content: space-around;
    align-items: center;
    background-color: lightgrey;
    color: white;
    height: 8rem;
    padding: 0 6rem;
    
}

.title {
    font-size: 2rem;
    margin: .5rem;
    text-decoration: none;
    font-weight: 600;
    color: #303030;
}

.navbar-links ul {
    margin: 0;
    padding: 0;    
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #303030;
    padding: 0 2rem;
    display: block;
}

/* Main */
h2 {
    font-size: 2rem;
    font-weight: 600;
    color:darkblue;
    margin-bottom: 0rem;
}

h4 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 0rem;
    line-height: 1;
    color: #303030;
}

.about-container {
    /*grid-template-columns: repeat(2, minmax(22rem, 1rem));*/
    justify-content: center;
    gap: 4rem;
}

.image-face {
    width: 20rem;
    height: 20rem; 
    margin-top: 6rem;
}

.about-me {
    margin-top: 5rem;
    width: 40rem;     
}

.button {
    border: .2rem solid darkblue;
    background: none;
    color: darkblue;   
    padding: .7rem 4rem;
    text-decoration: none;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.button:hover {
    background-color: darkblue;
    color: white;
}

/* Footer */ 
.footer-container {
    justify-content: space-around;
}

.copyright {
    font-size: .8rem;
}
  
.icons ul {
    position: absolute;
    padding: 0;
    margin: 0;
      
}

.icons ul li {
    list-style: none;
    margin: 0 1rem;
}

.icons ul li .fab {
    font-size: 1.5rem;
    line-height: 3rem;
    color: black;
}

.icons ul li a {
    position: relative;
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: blanchedalmond;
    text-align: center;
}

.icons ul li a:hover {
    background-color: blue;
}

.icons ul li .fab:hover {
    color: tomato;
}


/* Reusable code */ 
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.margin {
    margin: 0;
}

.bold {
    font-weight: 500;
}





